        h2{
            color:green;
        }
        li{
            color: orange;
        }
        body{
            background-color: rgb(8, 74, 207);
        }
        p{
            color:chocolate
        }
        h1{
            color: green; font-size: 40px; background-color: darkblue; text-align: center; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }
    